__pycache__/
*.py[cod]
*$py.class
.venv/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
tmp/
setup_env.sh
.env
auth.json
test_config.toml
*.toml.localunscreened_sciencedirect_keys.txt

# Integration Test Artifacts
tests/integration/*.csv
tests/integration/*.json
tests/integration/*.md
RELEASE_DRAFT.md
